.padre{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.padreLog{
    
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px;
}
.inputLog{
    padding: 5px;
    margin: 5px 10px;
    background-color: white;
}
.formLog{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}